/* Write your CSS here */
.app-container {
  background-color: #f1f5f8;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: Roboto;
  font-weight: bold;
  color: #2d3a35;
  font-size: 25px;
}
.counter-value {
  font-family: Roboto;
  font-weight: bold;
  color: #c20a72;
  font-size: 45px;
}

.description {
  font-family: Roboto;

  color: #2d3a35;

  font-size: 15px;
}
.button {
  font-family: Roboto;
  color: #ffffff;
  background-color: #007bff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 0px;
  outline: none;
  border-radius: 5px;
  border: none;
}
